body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.canvas {
    background-color: azure;
}

.fa {
    color: white;
    position: fixed;
    left: 1%;
    top: 2.5%;
}

.topBar {
    background-color: black;
    background-size: cover;
    height: 10%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

.topBarButton {
    position: fixed;
    z-index: 10;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar li {
    list-style: none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a7a0a0;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar a:hover {
    color: #ffffff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 10px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(156, 140, 140);
}

.introText {
    background-color: rgb(5, 5, 5, .05);
    padding: 2%;
    border-radius: 2%;
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 200%;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    z-index: 10;
}

#main nav li span {
    color: white;
    height: 10px;
    margin: 5px;
}


/*@media only screen and (max-width: 768px) {
    /* for mobile phones 
    [class*="col-"] {
        width: 100%;
    }
}
*/

.imgLeenheerenpolder {
    width: 600px;
    margin-top: 150px;
    margin-left: 150px;
    border-radius: 2%;
}

.imgProject {
    width: 600px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 2%;
}

.logo {
    position: absolute;
    top: -10px;
    right: 47%;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: rgb(5, 5, 5, .05);
    padding: 2%;
    border-radius: 2%;
    font-size: 200%;
}