body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.canvas {
    background-color: azure;
}

.fa {
    color: white;
    position: fixed;
    left: 1%;
    top: 2.5%;
}

.topBar {
    background-color: black;
    background-size: cover;
    height: 10%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.topBarButton {
    position: fixed;
    z-index: 10;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar li {
    list-style: none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #a7a0a0;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar a:hover {
    color: #ffffff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 10px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(156, 140, 140);
}

.introText {
    background-color: rgb(5, 5, 5, .05);
    padding: 2%;
    border-radius: 2%;
    border: 2px;
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 200%;
    z-index: 1;
}

.introTextP {
    background-color: rgb(5, 5, 5, .05);
    padding: 2%;
    border-radius: 2%;
    border: 2px;
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 150%;
    z-index: 1;
}

.introTextA {
    background-color: rgb(5, 5, 5, .05);
    padding: 2%;
    border-radius: 2%;
    border: 2px;
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 150%;
    z-index: 1;
    margin-right: 10%;
}

.imgLeenheerenpolder {
    width: 600px;
    margin-top: 195px;
    margin-left: 150px;
    border-radius: 2%;
}

.imgProject {
    width: 500px;
    margin-top: 135px;
    margin-left: 100px;
    border-radius: 2%;
}

.imgSteels {
    width: 700px;
    height: auto;
    margin-top: 200px;
    margin-left: 150px;
    border-radius: 2%;
}

.imgFlauna {
    width: 250px;
    height: auto;
    margin-top: 200px;
    margin-left: 350px;
    border-radius: 2%;
}

.logo {
    position: fixed;
    width: 56px;
    height: auto;
    right: 47%;
}

.zeelenbergLogo {
    width: 60px;
    height: auto;
}

.QRCode {
    position: relative;
    width: 60px;
    height: auto;
}

.right {
    display: flex;
    justify-content: center;
}

.information {
    background-color: rgb(5, 5, 5, .05);
    padding: 3%;
    position: relative;
    z-index: 1;
}

.containerInformation {
    position: absolute;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    width: 89%;
}

.containerLayout {
    position: absolute;
    right: 10%;
    top: 20%;
}

footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-size: cover;
    border-radius: 2%;
    font-size: 200%;
    display: flex;
    justify-content: center;
}

.green {
    color: green;
    font-size: 120%;
    font-weight: bold;
}

.orange {
    color: orange;
    font-size: 90%;
}

.yellow {
    color: yellowgreen;
    font-size: 100%;
}

.limegreen {
    color: limegreen;
    font-size: 110%;
    font-weight: bolder;
}

.red {
    color: tomato;
    font-size: 80%;
}

.darkRed {
    color: red;
    font-size: 70%;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

@media only screen and (max-width: 1024px) {
    /*or mobile phones*/
    .imgProject {
        width: 80%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2%;
        display: block;
    }
    .imgLeenheerenpolder {
        width: 80%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2%;
        display: block;
    }
    .imgSteels {
        width: 80%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2%;
        display: block;
    }
    .imgFlauna {
        width: 50%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2%;
        display: block;
    }
    .logo {
        display: block;
        margin-right: -22px;
        margin-top: 5px;
        width: 42px;
        height: auto;
    }
    .containerLayout {
        background-color: rgb(5, 5, 5, .05);
        padding: 2%;
        margin-left: -20px;
        font-size: medium;
        text-overflow: ellipsis;
    }
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 2%;
        border-radius: 2%;
        font-size: 200%;
        /* margin-top: 200px; */
    }
    .introText {
        width: 76.2%;
        margin-top: 30%;
        font-size: 15px;
    }
    .introTextP {
        width: 76.2%;
        margin-top: 65%;
        font-size: 15px;
    }
    .introTextA {
        width: 50%;
        margin-top: 57%;
        font-size: 15px;
    }
    .containerInformation {
        margin-top: 90%;
    }
    .containerInformation h1 {
        font-size: 140%;
    }
    .containerInformation p {
        font-size: 90%;
    }
    .introductionText {
        margin-top: 20x;
    }
    .introText h1 {
        text-align: center;
    }
    .zeelenbergLogo {
        margin-left: -32px;
    }
}