body {
    background: url("/assets/images/project.png") no-repeat center center fixed;
    background-size: auto 90%;
    background-position: left bottom;
}

@media only screen and (max-width: 600px) {
    body {
        background: url("/assets/images/project.png") no-repeat center center fixed;
        background-size: auto 40%;
        background-position: center;
    }
}